auth_enabled: {{ auth_enabled }}

server:
  http_listen_port: {{ http_listen_port }}

table_manager:

  retention_deletes_enabled: {{ retention_deletes_enabled }}
  retention_period: {{ retention_period }}
